// Reset stylesheets
@import "fletch/normalize";

// Load mixins
@import "fletch/modules/mixins";

// Load fonts

$fl-primary-font: 'Open Sans', sans-serif;
$fl-secondary-font: 'Open Sans', sans-serif;
$fl-heading-font: 'Open Sans', sans-serif; 

$ui-color: #bd0000;
$ui-button-font-color: #FFFFFF;
$ui-gray: #7b7b7b;

$link-color: $ui-color;
$primary-color: #bd0000;


// User interface styles
@import "fletch/ui.controlbar";
@import "fletch/ui.creator";
@import "fletch/ui.dropdown";
@import "fletch/ui.elementcontrols";
@import "fletch/ui.layouts";
@import "fletch/ui.modals";
@import "fletch/ui.panel";
@import "fletch/ui.reposition";

// Load vendor stylesheets
@import "fletch/vendors/fontello";
@import "fletch/vendors/jqueryui";

// Additional Fletch styling
@import "fletch/xmlclasses";
@import "fletch/editable";
@import "fletch/forms";