// Make sure the charset is set appropriately
@charset "UTF-8";

$theme-primary-font: 'Lato', sans-serif;
$secondary-font: 'Lato', sans-serif;
$heading-font: 'Lato', sans-serif;

$ui-color: #bd0000;
$ui-font: $theme-primary-font;
$ui-button-font-color: #FFFFFF;
$ui-gray: #7b7b7b;

$link-color: $ui-color;
$primary-color: #bd0000;

// Load mixins
@import "fletch/modules/mixins";

@import "theme/1140";
@import "theme/mobilenav";
@import "theme/magnificpopup";
@import "theme/error";
@import "theme/sitemap";
@import "theme/header";
@import "theme/forms";

body {
  font-family: $theme-primary-font;
  border-top: 6px solid $primary-color;
}

*[hidden] {
   display:none;
}

figure {

  //margin-top: 1em;
  
  img {
    width: 100%;
  } 

  p {
    text-align: center;
    text-decoration: italic !important;
  }
}


/* ==========================================================================
   Main Element Styles
   ========================================================================== */


/* _____________________________________________________*/
 /*   Headings -- defaults set in normalize.css         */

h1, h2, h3, h4, h5, h6, p, figure, img, figcaption {
  margin-top: 0;
}

h1 {
    font-family: $heading-font;
    font-size: 3.5em;
    line-height: 1.2em;
    font-weight: 300;
    color: $primary-color;
}

h2 {
    font-family: $secondary-font;    
}

h3 {
    font-family: $heading-font;    
}

h4 {
    font-family: $secondary-font;    
}

h5 {
    font-family: $heading-font;    
}

h6 {
    font-family: $heading-font;    
}

/* ____________________________*/
 /*   Grouping content         */

p {
    line-height: 1.5em;
}

hr {

}

pre {

}

blockquote {

}

ol {

}

ul {

}

li {

}

/* ________________________________*/
 /*   Text-level Semantics         */

a {
  color: $link-color;
}

em {

}

strong {

}

small {

}

del {
    text-decoration: line-through;
}

cite {

}

abbr {
    border: none;
    letter-spacing:1px;
    text-decoration: none;
    vertical-align: super;
    font-size: 0.85em;
    color: $ui-gray;
}

abbr[title] {
    border: none;
}

abbr[title]:hover {
    cursor:help;
}

sub {
}

sup {
}

img {
  
}

/* ________________________*/
 /*   Tabular data         */

table {
    border-collapse:collapse;
    border-spacing:0;
}
td, th {
    text-align:left;
    padding:0.25em 1em 0.1875em 0; /* 4px 16px 3px 0 */
}
th {
    color:#222;
    font:bold 0.875em/1.1429 'Proxima Nova Bold',sans-serif; /* 14px/16px */
    border-bottom-color:#bcb3a6;
    padding:0.5714em 0 0.5em; /* 8px 0 7px */
}
td {
    vertical-align:top;
}

/* ________________________*/
 /*   Forms                */


.field {
    font:1em/1.5 sans-serif;
    border:1px solid #bcb3a6;
    padding:0.25em;
    width:50%;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.35em;

}

fieldset div {
    margin:0.75em 0;
}
fieldset abbr[title="Required"] {
    color:#900;
    font:normal 1.5em/0.1 sans-serif; /* 20px */
    border-bottom:0 none;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
