
// Editable Text
// *************

// Determines whether or not text is editable
.fl-editable {

  cursor: text;

  &:hover {
    background-color: #d7d7d7;
    outline-color: #d7d7d7;
    outline-width: 0;
    outline-style: solid;
    cursor: text;
  }

  &:focus {
    outline-color: #d7d7d7;
    background-color: transparent;
    outline-width: 1px;
    outline-style: solid;
  }

  &:active {
    outline-color: #d7d7d7;
    background-color: transparent;
    outline-width: 1px;
    outline-style: solid;
  }
}



// Editable Images
// ***************

.fl-editable-image-loading {
	font-size: 6em;
	color: black;
	@include opacity(.45);
	position: absolute;
	z-index: 10;
}

.fl-editable-image-container {
   overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    direction: ltr;
    display: block;
}


.fl-editable-image-file-select
{
    /*cursor: pointer;*/
  font-size: 9000px;
  filter: alpha(opacity=.01);
  -moz-opacity: 0.01;
  opacity: 0.01;
  /*margin: 0;*/
  position:absolute; 
  direction: ltr;
  top: 0px;
  right: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}