.fl-text, .fl-password, .fl-textarea {
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;

  &:focus {
    background: #fafafa;
    border-color: #999999;
    outline: none;
  }
}

.fl-text, .fl-password {
  height: 2.3125em;
}

.fl-textarea {
  height: 8em;
}

input.fl-button {
  font-family: $fl-primary-font;
  font-weight: 300;
  font-size: 0.85em;
  color: $ui-button-font-color;
  background-color: $ui-color;
  padding: 0.55em 0.5em;
  border: 0;

  &:hover {
    background-color: $ui-color * 1.2;
  }

  &:active {
    background-color: $ui-color / 1.2;
  }
}

a.fl-button {
  position: relative;
  text-decoration: none;
  font-family: $fl-primary-font;
  font-weight: 300;
  font-size: 0.85em;
  color: $ui-button-font-color;
  background-color: $ui-color;
  padding: 0.55em 0.5em;
  border: 0;

  &:hover {
      background-color: $ui-color * 1.2;
  }

  &:active {
      background-color: $ui-color / 1.2;
  }
}

