/* 
    Hide the original radios and checkboxes
    (but still accessible)
    
    :not(#incompatible) > is a rule filter to block browsers
                 that don't support that selector from
                 applying rules they shouldn't
       
*/

.fl-layouts:not(#incompatible) > .fl-layout {
    /* Hide the input, but have it still be clickable */
    opacity: 0;
    float: left;
    width: 1px;
}


.fl-layouts:not(#incompatible) > .fl-layout + label {

    @include transition(border, 150ms);
    margin: 0 1em 0.25em 0;
    clear: none;
    display: block;
    width: 172px;
    height: 132px;
    float: left;
    text-align: center;

    /* Left padding makes room for image */
    padding: 6px;

    /* Make look clickable because they are */
    cursor: pointer;
    border: 1px solid #c7c7c7;
}

/*
    Change from unchecked to checked graphic
*/
.fl-layouts:not(#incompatible) > .fl-layout:hover + label {
    border: 1px solid #a1a1a1;
}


/*
    Change from unchecked to checked graphic
*/
.fl-layouts:not(#incompatible) > .fl-layout:checked + label {
    border: 1px solid $ui-color;
    -webkit-box-shadow: 0 0 8px $ui-color,
        0 0px 12px $ui-color;
    -moz-box-shadow: 0 0 8px $ui-color,
        0 0px 12px $ui-color;
    box-shadow: 0 0 8px $ui-color,
        0 0px 12px $ui-color;
}


.fl-layouts:not(#incompatible) > .fl-layout.fl-twocol-single + label {
    background: url('/img/icon-layout-twocol-single.png') center center no-repeat;
}

.fl-layouts:not(#incompatible) > .fl-layout.fl-twocol-double + label {
    background: url('/img/icon-layout-twocol-double.png') center center no-repeat;
}

.fl-layouts:not(#incompatible) > .fl-layout.fl-twocol-triple + label {
    background: url('/img/icon-layout-twocol-triple.png') center center no-repeat;
}

.fl-layouts:not(#incompatible) > .fl-layout.fl-fourcol-single + label {
    background: url('/img/icon-layout-fourcol-single.png') center center no-repeat;
}
 