.fl-creator {
  font-size: 0.65em;
  border: 1px solid #a1a1a1;
  border-radius: 3px;
  text-decoration: none;
  display: block;
  margin-bottom: 1em;
  padding-left: 1em;
  color: #a1a1a1;
  padding: 0.25em 0.45em 0.25em 0.05em;
  @include transition(background-color, 100ms);
  @include transition(color, 100ms);

  &:hover {
    color: #ffffff;
    background-color: #a1a1a1;
  }
}

.fl-region-list {
  list-style: none !important;
  margin: 0;
  padding: 0;
  min-height: 10px;
  position: relative;

  li {
    position: relative;
    margin: 0;
    padding: 0;
    vertical-align: top;
  }
}