  .fl-panel-matte {
    z-index: 11;
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    display: none;
  }

// The main settings panel
.fl-panel {
  @include background-opacity(#ffffff, 0.85);
  //@include box-shadow(0, 0.2em, 0.2em, rgba(#000000, 0.5));
  border-top: #d3d3d3 solid 3px;
  bottom: 0;
  display: none;
  height: 22em;
  left: 0;
  margin: 0 auto;
  // outline-color: #a1a1a1;
  // outline-style: solid;
  // outline-width: 3px;
  overflow-y: auto;
  padding: 20px;
  position: fixed;
  right: 0;
  z-index: 12;
  font-family: $fl-primary-font;
  font-size: 15px;
  -webkit-transform: translateZ(0);

  .fl-label {
    font-weight: 400;
    font-size: 1.15em;
    margin-top: 0.65em;
    margin-bottom: 0.45em;
  }

  form {
    margin: 0;
    padding: 0;
  }

  .fl-panel-title {
    text-align: center;
    p {
      display: inline-block;
      margin-right: 1em;
    }
  }

  .fl-panel-halfcol {
    width: 48%;
    margin: 0;
    display: inline-block;
    float: left;

    .fl-label {
      margin-top: 0;
    }

    &:nth-of-type(1) {
      margin-right: 4%;
    }
  }
}

.fl-panel-route {
 display: inline-block;
  width: 100%;
  
  .fl-panel-route-base {
    margin: 0;
    border-width: 1px;
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px;
    background-color: #a1a1a1;
    color: #ffffff;
    font-size: 0.875em;
    margin-bottom: 1em;
    display: inline-block;
    width: 56%;
    text-align: right;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }

  .fl-panel-route-href {
    margin-left: 0;
    margin-right: 0;
    padding-left: 2%;
    padding-right: 2%;
    display: inline-block;
    width: 40%;
    min-width: 2em;
  }
}

.fl-panel-visibility {
    position: relative;
    width: 100%;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}
.fl-panel-visibility-checkbox {
    display: none;
}
.fl-panel-visibility-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFF; border-radius: 11px;
}
.fl-panel-visibility-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.fl-panel-visibility-inner:before, .fl-panel-visibility-inner:after {
    float: left;
    width: 50%; 
    padding: 0;
    line-height: 2em;
    font-size: 1em;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.fl-panel-visibility-inner:before {
    content: "Show";
    padding-left: 21px;
    background-color: $ui-color;
    color: #FFFFFF;
}
.fl-panel-visibility-inner:after {
    content: "Hide";
    padding-right: 21px;
    background-color: $ui-gray * 1.4;
    color: #fff;
    text-align: right;
}
.fl-panel-visibility-switch {
    
    color: #fff;
    line-height: 2em;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 80%;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;

    &:before {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
      content: '\e82d';
    }

}
.fl-panel-visibility-checkbox:checked + .fl-panel-visibility-label .fl-panel-visibility-inner {
    margin-left: 0;

}
.fl-panel-visibility-checkbox:checked + .fl-panel-visibility-label .fl-panel-visibility-switch {
    right: 4%; 

    &:before {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
      content: '\e81f';
    }
}