.fl-element-controls {
  @include opacity ( 0.85 );
  z-index: 999;
  display: none; 
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #a1a1a1;
  color: #ffffff;

  &:hover {
    @include opacity ( 1 );
  }

  span.move {
    display: inline-block;
    cursor: move;
    margin: 0.2em 0 0.2em 0.2em;
  } 

  span.delete {
    display: inline-block;
    cursor: pointer;
    margin: 0.2em 0.3em 0.2em 0;
  } 

  span.edit {
    cursor: pointer;
    margin: 0.2em 0 0.2em 0.2em;
    display: none;
  } 
  
}

figure.gallery ~ .fl-element-controls,
nav.sub-navigation ~ .fl-element-controls

 {
  span.edit {
    display: inline-block !important;
  }
}