.fl-reposition-placeholder {
  display: inline-block !important;
  background-color: #d7d7d7;

}

.fl-reposition {
  li {
    -webkit-transition: -webkit-transform .1s ease-out; 
    -moz-transition: -moz-transform .1s ease-out; 
    -o-transition: -o-transform .1s ease-out; 
    transition: transform .1s ease-out;
  }
}

.fl-reposition-helper  {
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;

  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;

  -webkit-animation: bounce 100ms forwards; /* Safari 4+ */
  -moz-animation:    bounce 100ms forwards; /* Fx 5+ */
  -o-animation:      bounce 100ms forwards; /* Opera 12+ */
  animation:         bounce 100ms forwards; /* IE 10+ */

  margin: 0 !important;
  padding: 0 !important;

}

.fl-region-list {
  min-height: 1em;
}

@keyframes bounce {
    from {
      transform:scale(1);
      -ms-transform:scale(1); /* IE 9 */
      -moz-transform:scale(1); /* Firefox */
      -webkit-transform:scale(1); /* Safari and Chrome */
      -o-transform:scale(1); /* Opera */
    }
    90% {
      transform:scale(1.065);
      -ms-transform:scale(1.065); /* IE 9 */
      -moz-transform:scale(1.065); /* Firefox */
      -webkit-transform:scale(1.065); /* Safari and Chrome */
      -o-transform:scale(1.065); /* Opera */
    }
    to {
      transform:scale(1.05);
      -ms-transform:scale(1.05); /* IE 9 */
      -moz-transform:scale(1.05); /* Firefox */
      -webkit-transform:scale(1.05); /* Safari and Chrome */
      -o-transform:scale(1.05); /* Opera */
    }
}

@-webkit-keyframes bounce {
    from {
      transform:scale(1);
      -ms-transform:scale(1); /* IE 9 */
      -moz-transform:scale(1); /* Firefox */
      -webkit-transform:scale(1); /* Safari and Chrome */
      -o-transform:scale(1); /* Opera */
    }
    90% {
      transform:scale(1.065);
      -ms-transform:scale(1.065); /* IE 9 */
      -moz-transform:scale(1.065); /* Firefox */
      -webkit-transform:scale(1.065); /* Safari and Chrome */
      -o-transform:scale(1.065); /* Opera */
    }
    to {
      transform:scale(1.05);
      -ms-transform:scale(1.05); /* IE 9 */
      -moz-transform:scale(1.05); /* Firefox */
      -webkit-transform:scale(1.05); /* Safari and Chrome */
      -o-transform:scale(1.05); /* Opera */
    }
}