header.primary {

	margin-top: 2em;
	margin-bottom: 2em;

	.main-logo {
		text-decoration: none;
		vertical-align: text-bottom;
		display: inline-block;
		width: 125px;

		img {
			width: 100%;
		}

	    @include breakAt(767) {
	      margin-left: 20px;
	    }
	}

	nav {
	  text-align: center;
	  font-size: 1.2em;
	  vertical-align: text-bottom;
	  margin-bottom: 0;

	  ul.navigation {
	    display: inline-block;
	    list-style-type: none;
	    margin-left: 0;
	    padding-left: 1em;
	    margin: 0;

	    li {
			display: inline-block;
			-webkit-transform: skew(-11deg);
			-moz-transform: skew(-11deg);
			-o-transform: skew(-11deg);
			margin-right: 0.15em;

	      a {
	        color: $primary-color;
	        font-weight: 400;
	        //font-style: italic;
	        display: inline-block;
	        padding: 0.25em 0.65em;
	        text-decoration: none;

	        &:hover {
	          color: white;
	        }
	      }

	      &:hover {
	        background-color: $primary-color;
	      }
	    }

	    li.current-page {
	    	a {
	    		color: white;
	    		cursor: default;
	    	}

	    	background-color: $primary-color;
	    }
	  }

	  ul.socialmedia {
	    display: inline-block;
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    font-size: 1.3em;

	    li {
	      display: inline-block;
	      margin: 0;
	      padding: 0;

	      a {
	        text-decoration: none;
	      }
	    }
	  }
	}
}