div.sitemap {
	ul {
		margin-left: 0;
		margin-top: 0;
		margin-bottom: 0;
		display: block;
		padding-left: none;
		list-style-type: none;

		li {
			display: list-item;
			font-size: 1.2em;
			text-transform: uppercase;
			font-weight: 700;
			margin-bottom: 0.35em;


			a {
				display: block;
				border-bottom: 1px solid #d7d7d7;
				height: 32px;
				line-height: 32px;


			}

			&:not(:last-child) {
				
			}


			ul {

				li {
					margin-top: 0.15em;
					font-weight: 400;
					font-size: 0.95em;
					text-transform: none;
				}
			}
		}
	}
}